.resultBox {
    border          : 1px solid #000;
    border-radius   : 10px;
    padding         : 5px;
    background-color: #eee;
    display         : flex;
    flex-direction  : row;

    img {
        border-radius: 100%;
        width        : 64px;
        height       : 64px;
    }

    dl {
        display        : flex;
        flex-direction : column;
        font-size      : 18px;
        margin         : 0 0 0 10px;
        justify-content: space-around;
    }

    dt,
    dd {
        margin: 0;
    }
}